.pink {
  background-color: #EB3573;
}

.logo {
  max-width: 30%;
}

.hide {
  display: none;
}


.events_link {
  color: white;
  padding-right: 50px;
  font-size: 1.5em;
  text-decoration: underline;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

.menu {
  text-align: right;
  padding-top: 20px;
}


@media screen and (max-width: 800px) {
  .logo {
    max-width: 50%;
  }

  .events_link {
    padding-right: 10px;
  }
}
