.material {
  justify-content: flex-start;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.elem {
    margin-left: 10px;
    margin-top: 10px;
    background-size: contain;
    transition: all .1s ease-in-out;
    border: 2px solid #34375e;
}

.link {
  width: 400px;
  height: 300px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
  font-size: 3em;
}

.elem:hover {
  transform: scale(1.1);
}
